h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul {
  margin: 0; }

section{
    margin-left: 50px;
    display: flex;} 
.typography{
    width: 990px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.3px; }
.headings{
    margin-right:  30px;
    color: #8F9BB3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px;
    border-bottom: 1px solid #C5CEE0;
    display: flex;
    justify-content: space-between; }
.h-tag{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px; }
.subtitle{
    display: flex;
    align-items: center;
    letter-spacing: -0.3px; }
.I-description{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    color: #000000; }
    .I-description.one{
        font-size:   28px;
        line-height: 28px;}
    .I-description.two{
        font-size:   24px;
        line-height: 24px;}
    .I-description.three{
        font-size:   20px;
        line-height: 20px;}
    .I-description.four{
        font-size:   18px;
        line-height: 18px;}
    .I-description.five{
        font-size:   16px;
        line-height: 16px;}
.R-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000; }
    .R-description.one{
        font-size:   24px;
        line-height: 24px;
        font-weight: 500; }
    .R-description.two{
        font-size:   21px;
        line-height: 21px;
        font-weight: 500; }
    .R-description.three{
        font-size:   18px;
        line-height: 18px; }
    .R-description.four{
        font-size:   16px;
        line-height: 16px; }
    .R-description.five{
        font-size:   14px;
        line-height: 14px; }
.font-name-size-weight{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #8F9BB3; }
.font-description{
    width: 450px;
    background-color: #F7F9FC; }
.title{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.3px;
    color: #000000; }
figcaption{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    align-items: center;}
    .desc{
        font-size: 21px;
        line-height: 41px;
        color: #222B45;}
    .desc-subtitle{
        font-size: 18px;
        line-height: 28px;
        color: #2E3A59; }
.note{
    margin-left: 150px;
    display: flex;
    justify-content: space-evenly;
    /* align-content: space-around; */
}
figure{
    display: flex;}
a{
    color: #8f9bb3;
}
.notes-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 41px;
    color: #000000;}
.color{
    display: flex;
    flex-wrap: wrap;
}