<section class="brand-kit-typography" id="brand-kit">
    <!-- <div class="container"> -->
        <div class="typography">
            TYPOGRAPHY
            <div class="headings ">
                <div>
                    <p class="h-tag">H1</p>
                <p class="I-description one">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>IBM Plex Sans</span></p>
                    <p>font-size:   <span>28px</span></p>
                    <p>font-wieght: <span> Bold - 700</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">H2</p>
                <p class="I-description two">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>IBM Plex Sans</span></p>
                    <p>font-size:   <span> 24px</span></p>
                    <p>font-wieght: <span> Bold - 700</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">H3</p>
                <p class="I-description three">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>IBM Plex Sans</span></p>
                    <p>font-size:   <span>20px</span></p>
                    <p>font-wieght: <span> Bold - 700</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">H4</p>
                <p class="I-description four">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>IBM Plex  Sans</span></p>
                    <p>font-size:   <span>18px</span></p>
                    <p>font-wieght: <span> Bold - 700</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">H5</p>
                <p class="I-description five">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>IBM Plex Sans</span></p>
                    <p>font-size:   <span>16px</span></p>
                    <p>font-wieght: <span> Bold - 700</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">Body 1</p>
                <p class="R-description one">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>Roboto</span></p>
                    <p>font-size:   <span>24px</span></p>
                    <p>font-wieght: <span> Medium - 500</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">Body 2</p>
                <p class="R-description two">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>Roboto</span></p>
                    <p>font-size:   <span>24px</span></p>
                    <p>font-wieght: <span> Medium - 500</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">Body 3</p>
                <p class="R-description three">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>Roboto</span></p>
                    <p>font-size:   <span>24px</span></p>
                    <p>font-wieght: <span> Medium - 400</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">Body 4</p>
                <p class="R-description four">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div>
                    <p>font-family: <span>Roboto</span></p>
                    <p>font-size:   <span>24px</span></p>
                    <p>font-wieght: <span> Medium - 400</span></p>
                </div>
            </div>
            <div class="headings ">
                <div>
                    <p class="h-tag">Body 5</p>
                <p class="R-description five">The quick brown fox jumps over the lazy dog.</p>
                </div>         
                <div class="font-name-size-weight">
                    <p>font-family: <span>Roboto</span></p>
                    <p>font-size:   <span>24px</span></p>
                    <p>font-wieght: <span> Medium - 400</span></p>
                </div>
            </div>
        </div>
        <div class="font-description">
            <div class="about-font col-12">
                <p class="title">About IBM Plex Sans</p>
                <p class="desc">IBM Plex™ is an international typeface family designed by Mike Abbink, IBM BX&D, in collaboration with Bold Monday, an independent Dutch type foundry. Plex was designed to capture IBM’s spirit and history, and to illustrate the unique relationship between mankind and machine—a principal theme for IBM since the turn of the century. <br> <a href=""> Source: Google Fonts</a>  </p>
                <figure class="figure">
                    <img src="../brand-kit/ibm-design.png" srcset="" class="logo d-none d-lg-block">
                    <figcaption>
                        <p class="desc">Mike Abbink </p>
                        <p class="desc-subtitle"> Principal design</p>
                    </figcaption>
                </figure>
            </div>
            <div class="about-font col-12">
                <p class="title">About Roboto</p>
                <p class="desc">Roboto has a dual nature. It has a mechanical skeleton and the forms are largely geometric. At the same time, the font features friendly and open curves. While some grotesks distort their letterforms to force a rigid rhythm, Roboto doesn’t compromise, allowing letters to be settled into their natural width. This makes for a more natural reading rhythm more commonly found in humanist and serif types. <br> <a href="">Source: Google Fonts</a> </p>
                <figure class="figure">
                    <img src="../brand-kit/ibm-design.png" srcset="" class="logo d-none d-lg-block">
                    <figcaption>
                        <p class="desc">Christian Robertson </p>
                        <p class="desc-subtitle"> Principal design</p>
                    </figcaption>
                </figure>  
            </div>
        </div>
    <!-- </div> -->
</section>

<section>
    <p>Colors</p>
    <div class="color col-lg-6">
        <p>Primary</p>

    </div>
    <div class="color col-lg-6">
        <p>Primary</p>

    </div>
    <div class="color col-lg-6">
        <p>Primary</p>

    </div>
    <div class="color col-lg-6">
        <p>Primary</p>

    </div>

</section>

<section class="notes-and-fonts">
    <p>Notes & Further Reading</p>
    <div class="note">
        <div class="notes-title col-md-5">
            <p>Fonts</p>
            <li> 1. Thoughts on font Weights</p>
            <li> 2. Google Fonts</p>
            <li> 3. Cross Browser Considerations</p>
        </div>
        <div class="notes-title col-md-5">
            <p>Colors</p>
            <li> 1. Color theory & numbers</p>
            <li> 2. Context is everything</p>
            <li> 3. Color meanings & interpretations</p>
        </div>
        <div class="notes-title col-md-5">
            <p>Beyond Fonts and Colors</p>
            <li> 1. Animations</p>
            <li> 2. Microinteractions</p>
            <li> 3. Global Accessibility Considerations</p>
        </div>
    </div>
</section>